<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Todo List Spring App</title>
    <th:block th:include="/layout/header.html"></th:block>
</head>
<body>
<div class="container">
<div class="mt-5">
    <h2>Todo's</h2>
    <div th:if="${not #lists.isEmpty(tasks)}">
        <table class="table table-striped">
            <tr class="navStyle">
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>

            </tr>
            <tr th:each="task,Iterator: ${tasks}">
                <td th:text="${Iterator.count}"></td>
                <td th:text="${task.title}">Title</td>
                <td th:text="${task.description}">Title</td>
                <td th:text="${task.status}">Status</td>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
</html>