<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <th:block th:include="./layout/header.html"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(tasks)}">
        <h2>All Tasks</h2>
        <table class="table table-striped">
            <tr class="navStyle">
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>View</th>
                <th>Delete</th>

            </tr>
            <tr th:each="task, Iterator: ${tasks}">
                <td th:text="${Iterator.count}"></td>
                <td th:text="${task.title}">Title</td>
                <td th:text="${task.description}">Title</td>
                <td th:text="${task.status}">Status</td>
                <td><a th:href="${'/tasks/view/'+task.id}" class="btn btn-secondary">View</a></td>
                <td><a th:href="${'/tasks/delete/'+task.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>